<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    {% block title %}
    {% endblock %}
    <style>
        body {
            padding-top: 70px;
        }

        .navbar {
            height: 4.5%;
        }

        .nav-link {
            color: black !important;
            font-size: 0.9em !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">CAGLAR BINGOL <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about"><i class="fa fa-user"></i> HAKKIMDA</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/portfolio"><i class="fa fa-th"></i> PORTFÖY</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blog"><i class="fa fa-square-o"></i> BLOG</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact"><i class="fa fa-envelope"></i> İLETİŞİM</a>
                </li>
            </ul>
            <form class="form-inline my-0 my-lg-2">
                <input class="form-control form-control-sm mr-sm-4" type="search" placeholder="Ara" aria-label="Ara">
                <button class="btn btn-sm btn-primary my-2 my-sm-0" type="submit">Ara</button>
            </form>
        </div>
    </nav>
    <div class="container">
            <div class="row justify-content-center">
                {% block content %}
                {% endblock %}
            </div>

    </div>
</body>

</html>