{% extends 'base.html' %}
{% block title %}
<title>İletişim - Çağlar Bingöl</title>
{% endblock %}
{% block bk %}
{% endblock %}
{% block content %}
<br>
<div class="row col-10">
    <div class="col-4 ">
        <div id="googleMap" class="rounded" style="width:100%;height:400px;"></div>
    </div>
    <div class="col-8">
        <div class="">
            <i class="fa fa-map-marker fa-fw "></i> İzmir, TR<br>
            <i class="fa fa-phone fa-fw "></i> Phone: +90 541 819 62 90<br>
            <i class="fa fa-envelope fa-fw"></i> Email:
            bingolcaglar@gmail.com<br>
        </div>
        <br>
        <p>Bana bir <i class="fa fa-coffee"></i> ısmarlamak, veya not bırakmak için:</p>
        <form action="" target="">
            <div class="row" style="margin:0 -16px 8px -16px">
                <div class="col-6">
                    <input class="form-control" type="text" placeholder="İsim" required name="Name">
                </div>
                <div class="col-6">
                    <input class="form-control" type="email" placeholder="Email" required name="Email">
                </div>
            </div>
            <input class="form-control" type="text" placeholder="Mesaj" required name="Message">
            <br>
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-paper-plane"></i> GÖNDER
            </button>
        </form>
    </div>
</div>
<script>
    function myMap() {
        myCenter = new google.maps.LatLng(38.428114, 27.149798);
        var mapOptions = {
            center: myCenter,
            zoom: 12, scrollwheel: false, draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        var marker = new google.maps.Marker({
            position: myCenter,
        });
        marker.setMap(map);
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZKF2esDzchOxwICQv9HIjXP3d1LJQAEc&callback=myMap"></script>
{% endblock %}