{% extends 'base.html' %}
{% block title %}
<title>Ana Sayfa - Çağlar Bingöl</title>
{% load static %}
<style>
    body {
        background: white url("{% static 'home/images/img0.jpg' %}") no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
    }
</style>
{% endblock %}
{% block bk %}

{% endblock %}
{% block content %}
{% endblock %}