{% extends 'base.html' %}
{% block title %}
<title>Blog - Çağlar Bingöl</title>
{% endblock %}
{% block content %}
{% if latest_post_list %}
<div class="row col-12">
    {% for post in latest_post_list %}
    <div class="justify-content-center col-6">
        <div class="col-11 row">
            <h4><a href="{% url 'blog:postpage' post.id %}">{{ post.title }}</a></h4>
            <p>{{ post.context|slice:":150" }} ...</p>
            <div class="col-6">{{post.date}}</div>
            <div style="text-align:right;" class="col-6">{{post.comment_set.all|length}} Yorum</div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Hic Blog Yazisi Bulunmamaktadir.</p>
{% endif %}

{% endblock %}