{% extends 'base.html' %}
{% block title %}
<title>{{post.title}} - Çağlar Bingöl</title>
<style>
</style>
{% endblock %}
{% block content %}
<div class="col-12">
    <h1 style="text-align:center">
        {{ post.title}}
    </h1>
    <br>
    <p>
        &nbsp; {{ post.context }}
    </p>
    <br>
    <p>{% for category in post.category_set.all %}
        Kategoriler : {{ category.title }}
        {% endfor %}
    </p>
    <br>
    {% if error_message %}<p style="background-color: red;"><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'blog:postpage' post.id %}" method="post" id="usrform">
        {% csrf_token %}
        <textarea rows="4" cols="50" name="comment" form="usrform" class="form-control"
            placeholder="Yorum Giriniz."></textarea>
        <br>
        <input type="text" name="sender_name" class="form-control" placeholder="Kullanıcı Adı" aria-label="Username"
            aria-describedby="basic-addon1">
        <br>
        <input class="btn btn-primary" type="submit" value="Gönder">
    </form>
    <br>
    <p>
        {{post.comment_set.all|length}} Yorum:
    </p>

    {% load mptt_tags %}
    <ul style="list-style:none !important;">
        {% recursetree post.comment_set.all %}
    
        <li style="list-style:none !important;">
            {{node.sender_name}}: {{ node.context }}
            <br><br>
            <button class="btn" type="button" onclick="myFunction('{{node.context}}')">Cevapla</button>
            <br>
            <hr>
            <form style="display:none" action="{% url 'blog:postpage' post.id %}" method="post" id="{{ node.context }}">
                {% csrf_token %}
                <textarea style="display: none;" rows="4" cols="50" name="comment_id" form="{{ node.context }}" class="form-control"
                    placeholder="Yorum Giriniz.">{{node.pk}}</textarea>
                <textarea rows="4" cols="50" name="comment" form="{{ node.context }}" class="form-control"
                    placeholder="Yorum Giriniz."></textarea>
                <br>
                <input type="text" name="sender_name" class="form-control" placeholder="Kullanıcı Adı"
                    aria-label="Username" aria-describedby="basic-addon1">
                <br>
                <input class="btn btn-primary" type="submit" value="Gönder">
            </form>
            <br>
            {% if not node.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>



</div>
<script>
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
{% endblock %}